html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#root{
  width:100%;
}

.spreadsheet-container{
    position:absolute;
    top: 100px;
    left: 10px;
    width: 100%;
    height: calc(100vh -50px);
  }

footer {
  background-color: blueviolet;
  color: white;
  text-align: center;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.footer-copyright {
  margin-top: 10px;
}

.jexcel_content{
  color:black;
  background-color: white;
}
